h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
    
}
html{
    background-color: black;
    text-align: center;
}
.cta{
    color: aquamarine;
    font-size: 16px;
    
}

h2{
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}
p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
.footer{
    text-align: right;
}